#app {
  display: flex;
  width: 100%;
  padding: 50px 0 40px;
  align-items: flex-start;
  justify-content: center;
  font-size: 50px;
}

.list {
  @extend %listreset;

  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid lightgray;
}

.img-wrap {
  width: 30%;
  flex-shrink: 0;
  line-height: 0;
}

.title {
  margin-left: 20px;
  font-size: 18px;
  text-transform: capitalize;
}

.aside {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

select {
  font-size: 16px;
  margin: 0 30px 10px 0;
  width: 100px;
}

.search-wrap {
  border: 1px solid lightgrey;
  padding: 15px 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  position: relative;

  span {
    position: absolute;
    font-size: 12px;
    color: red;
    top: 50px;
    left: 10px;
  }
}

input {
  font-size: 16px;
  margin-right: 30px;
  width: 100%;
}

button {
  margin-top: 20px;
  font-size: 16px;
}
